.aboutUs {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

.line {
  width: 200px;
  height: 3px;
  background: #F3C577;
  margin: 20px auto;
}

.banner {
  width: 100%;
  background-image: url(../images/cat_dog_about.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.aboutUs h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.about {
  display: flex;
  justify-content: baseline;
  padding: 40px;
  width: 60%;
  margin: 30px auto 0 auto;
}

.text h3 {
  margin-bottom: 30px;
}

.text img {
  height: 240px;
  width: 300px;
  float: left;
  margin: 0px 150px 15px -200px;
}

.tr1 img {
  height: 220px;
  width: 280px;
  float: left;
  margin: 0px 150px 15px -200px;
}

.icon:hover {
  opacity: 0.6;
}

.divIcons {
  margin-top: auto;
  margin-right: auto;
  padding-top: 40px;
}