.h2Class,
p {
        text-align: center;
}

#imgFinderOfTheMonth {
        clip-path: circle(39%);
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 80px;
}