.DivSiteWork {
        text-align: center;
}

#petFind img {
        height: 200px;
        width: 250px;
        margin-top: 10px;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 100px;
}