
.processFinding {
        text-align: center;
}


.processFinding img {
        height: 130px;
        width: 130px;
}


#bigDivProcessFinding {
        display: flex;
        justify-content: space-between;
        padding: 30px;
}

.arrowStyle {
        height: 30px;
        width: 30px;
        margin-top: 50px;

}

h1{
        text-align: center;
}