.con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.left-button,
.right-button {
  margin: 0 100px;
  margin-top: 150px;
}

.left-button {
  float: left;
  padding-left: 5px;
}

.right-button {
  float: right;
  padding-right: 5px;
}
