
.title h2, .person-img h4 {
  margin-bottom: 20px;
} 

.section {
  width: 90vw;
  margin: 80px auto;
  max-width: 1200px;
}

.section-center {
  margin: 0 auto;
  margin-top: 64px;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.basicArticle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.person-img {
  border-radius: 50%;
  margin-bottom: 16px;
  width: 150px;
  height: 150px;
  border: 4px solid hsl(210, 31%, 80%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

article h4 {
  color: hsl(235, 48%, 57%);
  margin-bottom: 4px;
}

.title {
  margin-bottom: 12px;
  color: hsl(209, 34%, 30%);
  text-align: center;
  margin-bottom: 32px;
}

.text {
  max-width: 560px;
  margin: 0 auto;
  margin-top: 32px;
}

.prev,
.next {
  width: 32px;
  height: 32px;
  font-size: 24px;
  border-radius: 4px;
  top: 200px;
  background: hsl(210, 22%, 49%);
  color: hsl(0, 0%, 100%);
  position: absolute; 
  display: grid;
  place-items: center;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prev:hover,
.next:hover {
  background: hsl(188, 13%, 55%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


