.wrapper {
    display: flex;
    justify-content: space-around;
    align-self: baseline;
}

.first {
    width: 50%;
    float: left;
}

.second {
    width: 50%;
    float: right;
}

.statMsg {
    margin-top: -15px;
}